body * {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.content {
    display: flex;
    margin-top: 25px;
}

.content>.navi {
    background-color: rgba(247, 103, 7, 0.897);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    top: 0;
}

.content>.navi>.nav-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-right: 10px;
}

.content>.navi>.nav-items>.button {
    margin-left: 4px;
    border-radius: 8px;
    background-color: rgba(168, 80, 22, 0.973);
    padding: 8px;
    transition: 0.6s;
    color: grey;
}

.content>.navi>.nav-items>.button:first-child {
    margin-left: 0px;
}

.content>.navi>.nav-items>.button:hover {
    background-color: rgba(199, 86, 11, 0.301);
}

.content>.navi>.nav-items>.button>.nav-link {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}

p {
    font-size: 60px;
}

@media(max-width: 480px) {
    .content {
        margin: 0px 40px 0px 0px;
    }
    .content>.navi {
        height: 100%;
        width: auto;
        flex-direction: column;
        left: 0;
    }

    .content>.navi>.nav-items {
        width: 100%;
        display: block;
    }

    .content>.navi>.nav-items>.button>.nav-link>span {
        display: none;
    }

    .content>.navi>.nav-items>.button {
        margin: 4px 4px 0px 0px;
        border-radius: 8px;
        background-color: rgba(168, 80, 22, 0.973);
        padding: 8px;
        transition: 0.6s;
        color: grey;
    }

    .content>.navi>.nav-items>.button:first-child {
        margin-left: 4px;
        margin-top: 0px;
    }

}